<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Certificate</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment-hijri@2.1.1/moment-hijri.min.js"></script>
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
  <style>
    * {
      font-family: "Roboto", sans-serif;
      padding: 0;
    }
  </style>

</head>
<header  style="background-color: #03242c;" class="fixed top-0 w-full  z-10">
  <nav class="text-white">
    <div class="container mx-auto">
      <div class="justify-between items-center">
        <div class="">
          <div class="flex p-0 flex-wrap h-full    items-center">
            <!-- Contact Info Section -->
            <div class="hidden lg:flex items-center w-full lg:w-5/12">
              <div class="flex items-center mr-8">
                <i class="fa fa-envelope-o text-lg"></i>
                <a href="mailto:@contactUsEmail" class="ml-2">cprregistration@sha.org.sa</a>
              </div>
              <div class="flex items-center">
                <i class="fa fa-phone text-lg"></i>
                <span class="ml-2">+966 92 000 0742</span>
              </div>
            </div>
            <!-- Administration and Social Links Section -->
            <div class="w-full lg:w-7/12 text-right  flex  w-fit mr-auto  items-center justify-end" style="min-height: 50px">
              <a href="/settings" class="mr-5 inline-block" rel="noopener" aria-label="old website">Administration</a>
              <div class="bg-white  hidden lg:inline-block">
                <div class="flex items-center">
                  <a href="https://ksacpr.org.sa/Login.aspx" class="text-black text-sm h-14 flex justify-center items-center p-5" target="_blank" rel="noopener" aria-label="old website">
                    To download certificates issued before 18 April 2024 kindly click here
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="bg-white container mx-auto">
          <a href="/" class="text-black font-bold">
            <img alt="logo" class="h-14" src="https://shacpr.org.sa/images/sha.png">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<body>
<h1 class="text-5xl mx-auto sm:px-14 lg:px-0 font-bold pt-32 text-black   max-w-7xl mx-auto w-full">
  Certificate Verification
</h1>
<div class="flex flex-col justify-center my-24 mt-0 items-center" style="min-height: 600px;">

  <div class="w-full max-w-7xl sm:w-10/12 bg-white p-8 shadow-lg" style="box-shadow: 0 0 10px #b5b2b2; color: #03242c;">
    <h1 class="text-6xl lg:text-7xl font-semibold mb-4">Certificate Details</h1>
    <hr class="mb-4">
    <ul class="text-medium flex flex-col gap-2" style="color: #777777;">
      <li class="mb-0.5">
        <span class="font-bold">Certificate Holder Name:</span> <%= name %>
      </li>
      <li class="mb-0.5">
        <span class="font-bold">Course Name:</span> <%= type %>
      </li>
      <li class="mb-0.5">
        <span class="font-bold">Certificate Valid From:</span> <span id="issued"></span>
      </li>
      <li class="mb-0.5">
        <span class="font-bold">Certificate Expiry Date:</span> <span id="express"></span>
      </li>
    </ul>
  </div>
</div>

<script>
  // Function to convert Gregorian date to Hijri date
  function toHijri(gregorianDate) {
    return moment(gregorianDate).format('iDD-iYYYY-iMMMM');
  }

  // Populate the certificate details with Hijri dates
  document.getElementById('issued').textContent = toHijri('<%= issued.toISOString() %>');
  document.getElementById('express').textContent = toHijri('<%= express.toISOString() %>');
</script>
</body>
<footer class="text-white w-full "
        style="background-color: #03242c; background-image: url('https://shacpr.org.sa/images/footer-bg.png');background-size: cover">
  <div class="relative">
    <div class="container mx-auto px-4 py-6">
      <div class="grid  sm:grid-cols-2  lg:grid-cols-4 flex-wrap gap-4 container p-5">
        <div class="w-full  mb-6 md:mb-0" style="width: 270px">
          <div class="text-left">
            <div class="mb-4">
              <img id="footer-logo-img" class="mx-auto h-auto max-h-16" alt="image"
                   src="https://shacpr.org.sa/images/sha.png">
            </div>
            <h3 class="text-2xl  font-semibold mb-8">About Us</h3>
            <p class="text-sm font-light text-gray-200 text-justify  mb-8" style="width: 270px">
              The Saudi Heart Association, hereafter  called “The Association” is recognized at its premises and may have
              more chapters  in other locations if needed.
            </p>
            <p class="text-justify text-sm text-gray-200 font-light  w-72 mb-4"  style="width: 270px">
              The progression and development of the scientific thinking in the speciality of the Association.
            </p>
            <div class="mb-4">
              <img src="https://shacpr.org.sa/images/sha-transparent.png" id="logo-img" class="h-12 w-full"
                   alt="image">
            </div>
            <a href="/AboutUs/Index" class="text-white  ml-auto text-right w-fit  w-full flex justify-end" style="color: #ffa800">Read More</a>
          </div>
        </div>
        <div class="w-full">
          <h3 class="text-xl font-bold mb-2">Popular Courses</h3>
          <ul class="mt-10 gap-2 flex flex-col">
            <li><a href="#" class="text-white hover:text-green-700 translation-all duration-300 text-gray-200">SHA BLS Provider</a></li>
            <li><a href="#" class="text-white hover:text-green-700 translation-all duration-300 text-gray-200">SHA ACLS Provider</a></li>
            <li><a href="#" class="text-white hover:text-green-700 translation-all duration-300 text-gray-200">SHA PALS Provider</a></li>
            <li><a href="#" class="text-white hover:text-green-700 translation-all duration-300 text-gray-200">SHA NRP Provider</a></li>
            <li><a href="#" class="text-white hover:text-green-700 translation-all duration-300 text-gray-200">SHA HSFA CPR AED</a></li>
          </ul>
        </div>
        <div class="w-full ">
          <div class="flex flex-wrap">
            <div class="w-full mb-6 md:mb-0">
              <h3 class="text-xl font-bold mb-8 ">Quick Links</h3>
              <ul class="flex flex-col gap-2">
                <li><a href="/Home/Index" class="text-white hover:underline">Home</a></li>
                <li><a href="/Course/Index" class="text-white hover:underline">Courses</a></li>
                <li><a href="/OnlineCourses/Index" class="text-white hover:underline">Online Courses</a></li>
                <li><a href="/TrainingCenter/Index" class="text-white hover:underline">Training Centers</a></li>
                <li><a href="https://admin.shacpr.org.sa/Home/RegisterTrainingCenter"
                       class="text-white hover:underline">Become Training Center</a></li>
                <li><a href="http://ksacpr.org.sa/" class="text-white hover:underline">Browse for old CPR website</a>
                </li>
                <li><a href="https://admin.shacpr.org.sa" target="_blank" class="text-white hover:underline">For
                    Instructors and Coordinator</a></li>
              </ul>
              <ul class="flex flex-col gap-2 mt-2">

                <li class="font-bold text-xl"><a href="#" class="text-white hover:underline">Contact Us</a></li>
                <li class="text-2xl"><a target="_blank" href="http://tawk.to/shacprorgsa"
                                        class="text-white hover:underline">Support</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="w-full ">
          <div class="w-full mb-6 md:mb-0">
            <h3 class="text-lg font-semibold mb-8">Quick Help</h3>
            <ul class="flex flex-col gap-4  ">
              <li><h5 class="text-sm font-semibold">CPR Chairman</h5><i class="fa fa-envelope-o"></i>&nbsp;<a
                        href="mailto:cprchairman@sha.org.sa" class="text-white hover:underline -ml-1">cprchairman@sha.org.sa</a></li>
              <li><h5 class="text-sm font-semibold">CPR Registration</h5><i class="fa fa-envelope-o"></i>&nbsp;<a
                        href="mailto:CPRregistration@sha.org.sa"
                        class="text-white hover:underline -ml-1">cprregistration@sha.org.sa</a></li>
              <li><h5 class="text-sm font-semibold">CPR Operation</h5><i class="fa fa-envelope-o"></i>&nbsp;<a
                        href="mailto:CPRoperation@sha.org.sa" class="text-white hover:underline -ml-1">cproperation@sha.org.sa</a>
              </li>
              <li><h5 class="text-sm font-semibold">CPR Events</h5><i class="fa fa-envelope-o"></i>&nbsp;<a
                        href="mailto:CPRevents@sha.org.sa" class="text-white hover:underline -ml-1">cprevents@sha.org.sa</a></li>
              <li><h5 class="text-sm font-semibold">CPR Help Desk</h5><i class="fa fa-envelope-o"></i>&nbsp;<a
                        href="mailto:CPRhelpdesk@sha.org.sa" class="text-white hover:underline -ml-1">cprhelpdesk@sha.org.sa</a></li>
              <li><h3 class="text-xl mb-2 font-bold">Location</h3> Head Quarters<br>Office No. 603, Floor 6, Amaz
                Center<br>Near Voco Hotel,<br>King Fahad Road<br>Riyadh
              </li>
              <li class="text-2xl"><h3 class="text-xl mb-2 font-bold ">Call Us</h3>+966 92 000 0742</li>
              <li>
                <div class="w-full mb-6 md:mb-0 ">
                  <h3 class="text-lg font-semibold mb-2">Search E-Certificate</h3>
                  <p class="mb-4">Enter the eCertificate ID in the box and click on verify button to verify your
                    certificate</p>
                  <form id="subscribe-form" class="flex flex-col bg-white" method="post" action="/certificate-verify/:id">
                    <label for="certificate-id" class="sr-only">eCertificate ID</label>
                    <input type="text" id="certificate-id" name="Id" placeholder="Enter eCertificate ID" required
                           class="mb-2 outline-none px-4 py-2 border-0 text-black">
                    <button type="submit" class="bg-white text-gray-800 px-4 py-2 rounded hover:bg-gray-300">Verify<i
                              class="icon-right"></i></button>
                  </form>
                  <script>
                    document.getElementById('subscribe-form').addEventListener('submit', function (event) {
                      // Prevent the default form submission
                      event.preventDefault();

                      // Get the input value
                      var certificateId = document.getElementById('certificate-id').value;

                      // Update the form action URL
                      var form = document.getElementById('subscribe-form');
                      form.action = form.action.replace(':id', encodeURIComponent(certificateId));

                      // Submit the form
                      form.submit();
                    });

                  </script>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white py-4 container mx-auto border-t  border-gray-200 border-opacity-20">
    <div class="container mx-auto px-4 flex flex-wrap justify-between items-center">
      <div class="text-sm">
        <div class="mb-2">
          Copyright © 2024 Saudi Heart Association <b>Powered &amp; Owned By Konoz Retaj IT </b><img
                  src="https://shacpr.org.sa/images/kr-logo300.png" class="inline-block w-8">
        </div>
      </div>
      <div class="text-sm">
        <!-- Add any additional footer content here -->
      </div>
    </div>
  </div>
</footer>

</html>
